In [25]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.ticker as mtick # For specifying the axes tick format
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns # For creating plots
from datetime import date

### customers | olist_customers_dataset CSV

In [26]:
customers = pd.read_csv('olist_customers_dataset.csv', sep=',')
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [27]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
customer_id                 99441 non-null object
customer_unique_id          99441 non-null object
customer_zip_code_prefix    99441 non-null int64
customer_city               99441 non-null object
customer_state              99441 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

### orders | olist_orders_dataset CSV

In [28]:
orders = pd.read_csv('olist_orders_dataset.csv', sep=',')
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [29]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
order_id                         99441 non-null object
customer_id                      99441 non-null object
order_status                     99441 non-null object
order_purchase_timestamp         99441 non-null object
order_approved_at                99281 non-null object
order_delivered_carrier_date     97658 non-null object
order_delivered_customer_date    96476 non-null object
order_estimated_delivery_date    99441 non-null object
dtypes: object(8)
memory usage: 6.1+ MB

### new_test MERGE customers, orders

In [30]:
new_test = pd.merge(customers,orders)
new_test.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00

In [48]:
# MERDEd customers,orders
new_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 12 columns):
customer_id                      99441 non-null object
customer_unique_id               99441 non-null object
customer_zip_code_prefix         99441 non-null int64
customer_city                    99441 non-null object
customer_state                   99441 non-null object
order_id                         99441 non-null object
order_status                     99441 non-null object
order_purchase_timestamp         99441 non-null object
order_approved_at                99281 non-null object
order_delivered_carrier_date     97658 non-null object
order_delivered_customer_date    96476 non-null object
order_estimated_delivery_date    99441 non-null object
dtypes: int64(1), object(11)
memory usage: 9.9+ MB

### order_payments | olist_order_payments_dataset CSV

In [42]:
order_payments = pd.read_csv('olist_order_payments_dataset.csv', sep=',')
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [33]:
order_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
order_id                103886 non-null object
payment_sequential      103886 non-null int64
payment_type            103886 non-null object
payment_installments    103886 non-null int64
payment_value           103886 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

### new_table MERGE new_test/customers, orders | order_payments

In [34]:
new_table = pd.merge(new_test,order_payments)
new_table.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,payment_installments,payment_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1,credit_card,2,146.87
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1,credit_card,8,335.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1,credit_card,7,157.73
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1,credit_card,1,173.30
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1,credit_card,8,252.25

In [49]:
# new_table MERGEd new_test/customers, orders | order_payments
new_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103886 entries, 0 to 103885
Data columns (total 16 columns):
customer_id                      103886 non-null object
customer_unique_id               103886 non-null object
customer_zip_code_prefix         103886 non-null int64
customer_city                    103886 non-null object
customer_state                   103886 non-null object
order_id                         103886 non-null object
order_status                     103886 non-null object
order_purchase_timestamp         103886 non-null object
order_approved_at                103711 non-null object
order_delivered_carrier_date     101998 non-null object
order_delivered_customer_date    100754 non-null object
order_estimated_delivery_date    103886 non-null object
payment_sequential               103886 non-null int64
payment_type                     103886 non-null object
payment_installments             103886 non-null int64
payment_value                    103886 non-null float64
dtypes: float64(1), int64(3), object(12)
memory usage: 13.5+ MB

## order_items | olist_order_items_dataset CSV

In [56]:
order_items = pd.read_csv('olist_order_items_dataset.csv', sep=',')
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

### freight_value is the shipping cost

In [61]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
order_id               112650 non-null object
order_item_id          112650 non-null int64
product_id             112650 non-null object
seller_id              112650 non-null object
shipping_limit_date    112650 non-null object
price                  112650 non-null float64
freight_value          112650 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [59]:
products = pd.read_csv('olist_products_dataset.csv', sep=',')
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [60]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
product_id                    32951 non-null object
product_category_name         32341 non-null object
product_name_lenght           32341 non-null float64
product_description_lenght    32341 non-null float64
product_photos_qty            32341 non-null float64
product_weight_g              32949 non-null float64
product_length_cm             32949 non-null float64
product_height_cm             32949 non-null float64
product_width_cm              32949 non-null float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

#### Not using | order_reviews | olist_order_reviews_dataset CSV

In [45]:
order_reviews = pd.read_csv('olist_order_reviews_dataset.csv', sep=',')
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [46]:
order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
review_id                  100000 non-null object
order_id                   100000 non-null object
review_score               100000 non-null int64
review_comment_title       11715 non-null object
review_comment_message     41753 non-null object
review_creation_date       100000 non-null object
review_answer_timestamp    100000 non-null object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

### new_table2 MERGE new_table MERGEd new_test/customers, orders, order_payments | order_reviews

In [51]:
new_table2 = pd.merge(new_table,order_reviews)
new_table2.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,payment_sequential,payment_type,payment_installments,payment_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,1,credit_card,2,146.87,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,1,credit_card,8,335.48,02fc48a9efa3e3d0f1a8ea26507eeec3,5,NaN,NaN,2018-01-30 00:00:00,2018-02-10 22:43:29
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,1,credit_card,7,157.73,5ad6695d76ee186dc473c42706984d87,5,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,1,credit_card,1,173.30,059a801bb31f6aab2266e672cab87bc5,5,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,1,credit_card,8,252.25,8490879d58d6c5d7773f2739a03f089a,5,a melhor nota,O baratheon è esxelente Amo adoro o baratheon,2018-08-10 00:00:00,2018-08-17 01:59:52

In [52]:
new_table2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104485 entries, 0 to 104484
Data columns (total 22 columns):
customer_id                      104485 non-null object
customer_unique_id               104485 non-null object
customer_zip_code_prefix         104485 non-null int64
customer_city                    104485 non-null object
customer_state                   104485 non-null object
order_id                         104485 non-null object
order_status                     104485 non-null object
order_purchase_timestamp         104485 non-null object
order_approved_at                104309 non-null object
order_delivered_carrier_date     102587 non-null object
order_delivered_customer_date    101331 non-null object
order_estimated_delivery_date    104485 non-null object
payment_sequential               104485 non-null int64
payment_type                     104485 non-null object
payment_installments             104485 non-null int64
payment_value                    104485 non-null float64
review_id                        104485 non-null object
review_score                     104485 non-null int64
review_comment_title             12151 non-null object
review_comment_message           43623 non-null object
review_creation_date             104485 non-null object
review_answer_timestamp          104485 non-null object
dtypes: float64(1), int64(4), object(17)
memory usage: 18.3+ MB

### MERGE new_table3:  customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, order_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp, order_item_id, product_id, seller_id, shipping_limit_dateprice, freight_value

In [55]:
new_table3 = pd.merge(new_table2,order_items)
new_table3.head()

NameError: name 'order_items' is not defined

In [53]:
new_table3.info()

NameError: name 'new_table3' is not defined

### MERGE

In [71]:
new_table4 = pd.merge(new_table3, products)
new_table4

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,...,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,...,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,...,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,...,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118310,da37711b17efd5f2539e8196ab215f04,5f2971f9805e3ccb030226e30c8e8390,4313,sao paulo,SP,c8203bb57639618630affac9e8e923dd,delivered,2017-03-27 23:04:18,2017-03-27 23:23:38,2017-03-28 14:18:59,...,19.99,10.96,pet_shop,43.0,779.0,1.0,300.0,16.0,16.0,16.0
118311,184e0c2cfc746789643521df0e9ff904,c64ede6d0ae8901b1b6fb03528c1b7e6,68660,sao miguel do guama,PA,45b3000bcd10464ac178f32cd783fc83,delivered,2017-12-07 23:55:46,2017-12-09 23:50:32,2017-12-11 20:29:02,...,250.00,54.11,beleza_saude,40.0,1694.0,1.0,2400.0,33.0,10.0,16.0
118312,821a7275a08f32975caceff2e08ea262,046470763123d3d6364f89095b4e47ab,5734,sao paulo,SP,49645a8902c1ba980836b7bff991d69f,delivered,2018-04-04 17:50:52,2018-04-04 18:08:41,2018-04-05 16:36:49,...,84.90,7.46,fashion_bolsas_e_acessorios,29.0,498.0,4.0,300.0,16.0,16.0,11.0
118313,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,...,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0
118314,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,...,167.99,31.93,eletronicos,33.0,63.0,1.0,6185.0,63.0,11.0,20.0

# below

In [39]:
# test_join = pd.concat([customers, orders], axis=0, join='inner',keys=['customer_id'])
# test_join.head()

In [72]:
order_items = pd.read_csv('olist_order_items_dataset.csv', sep=',')

In [73]:
order_reviews = pd.read_csv('olist_order_reviews_dataset.csv', sep=',')

In [74]:
products = pd.read_csv('olist_products_dataset.csv', sep=',')

In [75]:
product_category = pd.read_csv('product_category_name_translation.csv', sep=',')

In [76]:
combined_table = pd.merge(new_table4, product_category)
combined_table.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,...,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,...,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,...,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,...,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture

In [77]:
combined_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116581 entries, 0 to 116580
Data columns (total 37 columns):
customer_id                      116581 non-null object
customer_unique_id               116581 non-null object
customer_zip_code_prefix         116581 non-null int64
customer_city                    116581 non-null object
customer_state                   116581 non-null object
order_id                         116581 non-null object
order_status                     116581 non-null object
order_purchase_timestamp         116581 non-null object
order_approved_at                116567 non-null object
order_delivered_carrier_date     115368 non-null object
order_delivered_customer_date    114066 non-null object
order_estimated_delivery_date    116581 non-null object
payment_sequential               116581 non-null int64
payment_type                     116581 non-null object
payment_installments             116581 non-null int64
payment_value                    116581 non-null float64
review_id                        116581 non-null object
review_score                     116581 non-null int64
review_comment_title             13996 non-null object
review_comment_message           49878 non-null object
review_creation_date             116581 non-null object
review_answer_timestamp          116581 non-null object
order_item_id                    116581 non-null int64
product_id                       116581 non-null object
seller_id                        116581 non-null object
shipping_limit_date              116581 non-null object
price                            116581 non-null float64
freight_value                    116581 non-null float64
product_category_name            116581 non-null object
product_name_lenght              116581 non-null float64
product_description_lenght       116581 non-null float64
product_photos_qty               116581 non-null float64
product_weight_g                 116580 non-null float64
product_length_cm                116580 non-null float64
product_height_cm                116580 non-null float64
product_width_cm                 116580 non-null float64
product_category_name_english    116581 non-null object
dtypes: float64(10), int64(5), object(22)
memory usage: 33.8+ MB

In [78]:
joined_table = combined_table.drop(columns=['review_comment_title', 'review_comment_message'])
joined_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116581 entries, 0 to 116580
Data columns (total 35 columns):
customer_id                      116581 non-null object
customer_unique_id               116581 non-null object
customer_zip_code_prefix         116581 non-null int64
customer_city                    116581 non-null object
customer_state                   116581 non-null object
order_id                         116581 non-null object
order_status                     116581 non-null object
order_purchase_timestamp         116581 non-null object
order_approved_at                116567 non-null object
order_delivered_carrier_date     115368 non-null object
order_delivered_customer_date    114066 non-null object
order_estimated_delivery_date    116581 non-null object
payment_sequential               116581 non-null int64
payment_type                     116581 non-null object
payment_installments             116581 non-null int64
payment_value                    116581 non-null float64
review_id                        116581 non-null object
review_score                     116581 non-null int64
review_creation_date             116581 non-null object
review_answer_timestamp          116581 non-null object
order_item_id                    116581 non-null int64
product_id                       116581 non-null object
seller_id                        116581 non-null object
shipping_limit_date              116581 non-null object
price                            116581 non-null float64
freight_value                    116581 non-null float64
product_category_name            116581 non-null object
product_name_lenght              116581 non-null float64
product_description_lenght       116581 non-null float64
product_photos_qty               116581 non-null float64
product_weight_g                 116580 non-null float64
product_length_cm                116580 non-null float64
product_height_cm                116580 non-null float64
product_width_cm                 116580 non-null float64
product_category_name_english    116581 non-null object
dtypes: float64(10), int64(5), object(20)
memory usage: 32.0+ MB

In [79]:
joined_table.dropna(inplace = True)
joined_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114050 entries, 0 to 116580
Data columns (total 35 columns):
customer_id                      114050 non-null object
customer_unique_id               114050 non-null object
customer_zip_code_prefix         114050 non-null int64
customer_city                    114050 non-null object
customer_state                   114050 non-null object
order_id                         114050 non-null object
order_status                     114050 non-null object
order_purchase_timestamp         114050 non-null object
order_approved_at                114050 non-null object
order_delivered_carrier_date     114050 non-null object
order_delivered_customer_date    114050 non-null object
order_estimated_delivery_date    114050 non-null object
payment_sequential               114050 non-null int64
payment_type                     114050 non-null object
payment_installments             114050 non-null int64
payment_value                    114050 non-null float64
review_id                        114050 non-null object
review_score                     114050 non-null int64
review_creation_date             114050 non-null object
review_answer_timestamp          114050 non-null object
order_item_id                    114050 non-null int64
product_id                       114050 non-null object
seller_id                        114050 non-null object
shipping_limit_date              114050 non-null object
price                            114050 non-null float64
freight_value                    114050 non-null float64
product_category_name            114050 non-null object
product_name_lenght              114050 non-null float64
product_description_lenght       114050 non-null float64
product_photos_qty               114050 non-null float64
product_weight_g                 114050 non-null float64
product_length_cm                114050 non-null float64
product_height_cm                114050 non-null float64
product_width_cm                 114050 non-null float64
product_category_name_english    114050 non-null object
dtypes: float64(10), int64(5), object(20)
memory usage: 31.3+ MB

In [80]:
joined_table.head(20)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,...,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,...,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,...,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,...,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
5,fd3a0b1bd209f0e7d420c9c3d1127613,567ab47ca4deb92d46dbf54dce07d0a7,88460,angelina,SC,574fe1739f65af76badd0999db300b4f,delivered,2017-03-23 15:10:17,2017-03-23 15:25:11,2017-03-28 18:23:51,...,15.06,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
6,fbd40c083aa8cddebb5265b2ba6aaf2e,f40ab89b622248b7ca125af4b486b887,32341,contagem,MG,e0b26f14d2bcc710bb02f77a4628763b,delivered,2017-05-16 10:00:49,2017-05-17 03:45:27,2017-05-23 10:35:48,...,30.71,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
7,10558ef4afea173bfb5e2cbe3d5b0bb5,749943913a9851a39c9baf51877fbab6,78134,varzea grande,MT,eaae5bd20fb15d85aa673d9b7c0e8ca5,delivered,2017-03-18 23:04:36,2017-03-18 23:04:36,2017-03-28 06:29:47,...,21.34,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
8,1c37c0f0cd1d88d46d9fc9494762abbd,432ecfa8b7b7ad2663c7abed0dc83c51,31270,belo horizonte,MG,c4e2bd2043fbd75b325a47adfabf0d77,delivered,2018-03-15 07:45:10,2018-03-15 07:55:24,2018-03-27 15:58:41,...,33.08,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
9,20a452f528d487411fd7d3ebda1d0f20,31318a0597cd9d50ce4cfd03c80fe780,37540,santa rita do sapucai,MG,1c7fe02ac4c7be50c59afb295cf85b89,delivered,2018-01-26 13:22:09,2018-01-30 03:47:31,2018-02-09 13:17:44,...,21.76,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
10,20a452f528d487411fd7d3ebda1d0f20,31318a0597cd9d50ce4cfd03c80fe780,37540,santa rita do sapucai,MG,1c7fe02ac4c7be50c59afb295cf85b89,delivered,2018-01-26 13:22:09,2018-01-30 03:47:31,2018-02-09 13:17:44,...,21.76,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
11,62f766c82849282806bf2f62ca86432e,83aca63b2193ea126b287f3ae61528d9,89115,gaspar,SC,5ee63c8c9ae2e5c38791b35932cf4c69,delivered,2017-05-09 11:30:18,2017-05-09 11:45:13,2017-05-19 19:32:55,...,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
12,62f766c82849282806bf2f62ca86432e,83aca63b2193ea126b287f3ae61528d9,89115,gaspar,SC,5ee63c8c9ae2e5c38791b35932cf4c69,delivered,2017-05-09 11:30:18,2017-05-09 11:45:13,2017-05-19 19:32:55,...,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
13,62f766c82849282806bf2f62ca86432e,83aca63b2193ea126b287f3ae61528d9,89115,gaspar,SC,5ee63c8c9ae2e5c38791b35932cf4c69,delivered,2017-05-09 11:30:18,2017-05-09 11:45:13,2017-05-19 19:32:55,...,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
14,62f766c82849282806bf2f62ca86432e,83aca63b2193ea126b287f3ae61528d9,89115,gaspar,SC,5ee63c8c9ae2e5c38791b35932cf4c69,delivered,2017-05-09 11:30:18,2017-05-09 11:45:13,2017-05-19 19:32:55,...,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
15,62f766c82849282806bf2f62ca86432e,83aca63b2193ea126b287f3ae61528d9,89115,gaspar,SC,5ee63c8c9ae2e5c38791b35932cf4c69,delivered,2017-05-09 11:30:18,2017-05-09 11:45:13,2017-05-19 19:32:55,...,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
16,62f766c82849282806bf2f62ca86432e,83aca63b2193ea126b287f3ae61528d9,89115,gaspar,SC,5ee63c8c9ae2e5c38791b35932cf4c69,delivered,2017-05-09 11:30:18,2017-05-09 11:45:13,2017-05-19 19:32:55,...,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
17,d3286ca43aa21423c6045b2806ca8e56,acd02fc85cf6339f896c161af2b6abcd,96083,pelotas,RS,b1cc044d321053348a5e482ca7e6b2e3,delivered,2018-01-30 19:29:01,2018-01-30 19:54:04,2018-02-09 13:08:10,...,38.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
18,c49bec5f74f0413130abdaed8e7621d0,67d6f91d256bdf128fc960a166f413d5,25640,petropolis,RJ,0d831c5aa932379c1cf5b0b1b40b214b,delivered,2017-10-13 10:36:54,2017-10-13 10:49:47,2017-10-24 18:58:49,...,34.18,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture
19,0058ebe2dc136d918dd001968cfa5903,9e8993ba2665307b71bd1641c2e1cb3d,39495,montalvania,MG,27ae3ad0516a9b55f2236e24f690e01b,delivered,2017-02-09 16:19:02,2017-02-09 16:30:12,2017-02-22 03:51:44,...,15.01,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,office_furniture

In [81]:
# joined_table.drop_duplicates(inplace=True)

joined_table.drop_duplicates(subset ="order_id", 
                     keep = 'first', inplace = True) 
joined_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95109 entries, 0 to 116580
Data columns (total 35 columns):
customer_id                      95109 non-null object
customer_unique_id               95109 non-null object
customer_zip_code_prefix         95109 non-null int64
customer_city                    95109 non-null object
customer_state                   95109 non-null object
order_id                         95109 non-null object
order_status                     95109 non-null object
order_purchase_timestamp         95109 non-null object
order_approved_at                95109 non-null object
order_delivered_carrier_date     95109 non-null object
order_delivered_customer_date    95109 non-null object
order_estimated_delivery_date    95109 non-null object
payment_sequential               95109 non-null int64
payment_type                     95109 non-null object
payment_installments             95109 non-null int64
payment_value                    95109 non-null float64
review_id                        95109 non-null object
review_score                     95109 non-null int64
review_creation_date             95109 non-null object
review_answer_timestamp          95109 non-null object
order_item_id                    95109 non-null int64
product_id                       95109 non-null object
seller_id                        95109 non-null object
shipping_limit_date              95109 non-null object
price                            95109 non-null float64
freight_value                    95109 non-null float64
product_category_name            95109 non-null object
product_name_lenght              95109 non-null float64
product_description_lenght       95109 non-null float64
product_photos_qty               95109 non-null float64
product_weight_g                 95109 non-null float64
product_length_cm                95109 non-null float64
product_height_cm                95109 non-null float64
product_width_cm                 95109 non-null float64
product_category_name_english    95109 non-null object
dtypes: float64(10), int64(5), object(20)
memory usage: 26.1+ MB

In [82]:
payorder_cust = pd.merge(orders, order_payments)
payorder_cust.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103886 entries, 0 to 103885
Data columns (total 12 columns):
order_id                         103886 non-null object
customer_id                      103886 non-null object
order_status                     103886 non-null object
order_purchase_timestamp         103886 non-null object
order_approved_at                103711 non-null object
order_delivered_carrier_date     101998 non-null object
order_delivered_customer_date    100754 non-null object
order_estimated_delivery_date    103886 non-null object
payment_sequential               103886 non-null int64
payment_type                     103886 non-null object
payment_installments             103886 non-null int64
payment_value                    103886 non-null float64
dtypes: float64(1), int64(2), object(9)
memory usage: 10.3+ MB

In [83]:
payorder_customer = payorder_cust.drop(columns=['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date'])
payorder_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103886 entries, 0 to 103885
Data columns (total 8 columns):
order_id                    103886 non-null object
customer_id                 103886 non-null object
order_status                103886 non-null object
order_purchase_timestamp    103886 non-null object
payment_sequential          103886 non-null int64
payment_type                103886 non-null object
payment_installments        103886 non-null int64
payment_value               103886 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 7.1+ MB

In [36]:
# formula = 'order_purchase_timestamp ~ payment_value'

# fitted_model = smf.ols(formula=formula, data=payorder_customer).fit()
# fitted_model.summary()

In [84]:
joined_table2 = joined_table.drop(columns=['customer_unique_id', 'order_approved_at', 'order_status'])
joined_table2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95109 entries, 0 to 116580
Data columns (total 32 columns):
customer_id                      95109 non-null object
customer_zip_code_prefix         95109 non-null int64
customer_city                    95109 non-null object
customer_state                   95109 non-null object
order_id                         95109 non-null object
order_purchase_timestamp         95109 non-null object
order_delivered_carrier_date     95109 non-null object
order_delivered_customer_date    95109 non-null object
order_estimated_delivery_date    95109 non-null object
payment_sequential               95109 non-null int64
payment_type                     95109 non-null object
payment_installments             95109 non-null int64
payment_value                    95109 non-null float64
review_id                        95109 non-null object
review_score                     95109 non-null int64
review_creation_date             95109 non-null object
review_answer_timestamp          95109 non-null object
order_item_id                    95109 non-null int64
product_id                       95109 non-null object
seller_id                        95109 non-null object
shipping_limit_date              95109 non-null object
price                            95109 non-null float64
freight_value                    95109 non-null float64
product_category_name            95109 non-null object
product_name_lenght              95109 non-null float64
product_description_lenght       95109 non-null float64
product_photos_qty               95109 non-null float64
product_weight_g                 95109 non-null float64
product_length_cm                95109 non-null float64
product_height_cm                95109 non-null float64
product_width_cm                 95109 non-null float64
product_category_name_english    95109 non-null object
dtypes: float64(10), int64(5), object(17)
memory usage: 23.9+ MB

In [85]:
olist_data = joined_table2.drop(columns=['order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date', 'payment_sequential', 'payment_installments', 'review_creation_date', 'review_answer_timestamp', 'seller_id', 'shipping_limit_date', 'freight_value', 'product_name_lenght', 'product_description_lenght', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm', 'product_category_name'])
olist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95109 entries, 0 to 116580
Data columns (total 15 columns):
customer_id                      95109 non-null object
customer_zip_code_prefix         95109 non-null int64
customer_city                    95109 non-null object
customer_state                   95109 non-null object
order_id                         95109 non-null object
order_purchase_timestamp         95109 non-null object
payment_type                     95109 non-null object
payment_value                    95109 non-null float64
review_id                        95109 non-null object
review_score                     95109 non-null int64
order_item_id                    95109 non-null int64
product_id                       95109 non-null object
price                            95109 non-null float64
product_photos_qty               95109 non-null float64
product_category_name_english    95109 non-null object
dtypes: float64(3), int64(3), object(9)
memory usage: 11.6+ MB

### olist_data joined table

In [86]:
olist_data.head()

,customer_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_purchase_timestamp,payment_type,payment_value,review_id,review_score,order_item_id,product_id,price,product_photos_qty,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,credit_card,146.87,88b8b52d46df026a9d1ad2136a59b30b,4,1,a9516a079e37a9c9c36b9b78b10169e8,124.99,1.0,office_furniture
1,8912fc0c3bbf1e2fbf35819e21706718,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,2017-11-09 00:50:13,credit_card,275.79,7fc63200f12eebb5f387856afdd63db8,1,1,a9516a079e37a9c9c36b9b78b10169e8,112.99,1.0,office_furniture
3,f0ac8e5a239118859b1734e1087cbb1f,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,2017-05-07 20:11:26,credit_card,140.61,251191809e37c1cffc16865947c18a4d,3,1,a9516a079e37a9c9c36b9b78b10169e8,124.99,1.0,office_furniture
4,6bc8d08963a135220ed6c6d098831f84,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,2018-02-03 19:45:40,credit_card,137.58,f7123bac5b91a0e2e38d8b41fd1206f4,4,1,a9516a079e37a9c9c36b9b78b10169e8,106.99,1.0,office_furniture
5,fd3a0b1bd209f0e7d420c9c3d1127613,88460,angelina,SC,574fe1739f65af76badd0999db300b4f,2017-03-23 15:10:17,credit_card,142.05,1496c2a9c41a846ba946a98a09879660,4,1,a9516a079e37a9c9c36b9b78b10169e8,126.99,1.0,office_furniture

In [ ]:
ax = sns.barplot(x="customer_zip_code_prefix", y="payment_value", data=olist_data)

In [ ]:
fig, ax = plt.subplots()
olist_data.plot(kind='scatter', x='order_purchase_timestamp', y='payment_value', ax=ax)

# Turn on the grid
ax.grid()

In [ ]:
ax = sns.scatterplot(x = 'order_purchase_timestamp', y = 'payment_value', data = olist_data)
# ax.set_xlim(2016,2018)

In [ ]:
# fig = plt.figure(figsize=(20,12))
# ax = fig.gca()
# ax = sns.scatterplot(x="customer_state", y="payment_value", style="payment_type", hue="customer_state", data=olist_data)

In [ ]:
# formula = 'order_purchase_timestamp ~ payment_value'

# fitted_model = smf.ols(formula=formula, data=olist_data).fit()
# fitted_model.summary()

In [ ]:
# olist_data.groupby(['order_purchase_timestamp']).groups.keys()

In [ ]:
# olist_data['order_purchase_timestamp'].max()

In [ ]:
# olist_data['order_purchase_timestamp'].min()

In [ ]:
# olist_data.groupby(
#     ['customer_id']
# ).agg(
#     {'order_purchase_timestamp': [max]})

In [ ]:
# olist_data['order_purchase_timestamp'] = pd.to_datetime(olist_data['order_purchase_timestamp'])
# olist_data.info()

In [ ]:
# inactive_date = date(2018, 1, 1)
# print(inactive_date)

In [ ]:
ax = sns.scatterplot(x = 'order_purchase_timestamp', y = 'payment_value', data = olist_data)
# ax.set_xlim(2016,2018)

In [ ]:
ax = sns.barplot(x="customer_zip_code_prefix", y="payment_value", data=olist_data)

In [ ]:
olist_data.info()

In [ ]:
formula = 'payment_value ~ payment_type'

fitted_model = smf.ols(formula=formula, data=olist_data).fit()
fitted_model.summary()

In [ ]:
formula = 'payment_value ~ C(customer_state)'

fitted_model = smf.ols(formula=formula, data=olist_data).fit()
fitted_model.summary()

In [ ]:
formula = 'price ~ C(review_score)'

fitted_model = smf.ols(formula=formula, data=olist_data).fit()
fitted_model.summary()

In [ ]:
df_test = pd.value_counts(olist_data.product_photos_qty).to_frame()
df_test

In [ ]:
sum_test = df_test['product_photos_qty'].sum()

In [ ]:
df_test['weights'] = df_test['product_photos_qty']/sum_test

df_test

In [ ]:
avg_pay = olist_data.groupby(['product_photos_qty']).agg({'payment_value':['mean'] })
avg_pay = avg_pay.reset_index()
avg_pay.columns = ['product_photos_qty', 'avg_payment_value']

avg_pay

In [ ]:
weighted_pay = pd.merge(df_test, avg_pay)

weighted_pay.head(20)